*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.container{
    height: 100%;
    padding: 0 10%;
}

/* start header */

.header{
    height: 800px;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center center;
}

/*
.header .container{
    background-color: #000;
}
*/
.header .navbar{
    display: flex;
    align-items: center;
    height: 100px;
}

.header .navbar-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    color: #FFF;
    font-family: "Overpass", Sans-serif;
}

/* no need for tis float
.header .navbar h1{
    float: left;
}
*/

.header .navbar ul
{
    list-style: none;
    overflow: hidden;
    display: flex;
}

.header .navbar ul:first-of-type li
{
    margin-right: 45px;
    font-weight: bold;
}



.header .navbar ul:nth-of-type(2) li
{
    margin-right: 20px;
    font-weight: bold;
    padding-inline-start: 0;
}

.header .navbar ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
    padding: 20px 0;
}


li.active::after
{
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    height: 3px;
    background:red;
    display:block;
}

/* end header */

/* my framework */

.flt-left{
    float: left;
}

.flt-right{
    float: right;
}