*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

.container{
    /* old container
    height: 100%;
    width: 100%;
    padding: 0 10%;
    */
    width: 1200px;
    margin: 0 auto;
}

/* start header */

header{
    height: 800px;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center center;
    color: #FFF;
}

/*
header .container{
    background-color: #000 !important;
    opacity: .7;
}*/


header .container > div:first-of-type{ /* == header .container > div:first-of-type */
    display: flex;
    align-items: center;
    height: 100px;
}

header .container > div:nth-of-type(2){ /* == header .container > div:first-of-type */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    padding: 130px 280px;
    text-align: center;
}

header .container > div:nth-of-type(2) h1{
    font-size: 60px;
    margin-bottom: 40px;
}

header .container > div:nth-of-type(2) p{
    padding-inline-start: 40px;
    padding: 0 90px;
    line-height: 27px;
    font-size: 16px;
    font-family: "Roboto", Sans-serif;
    margin-bottom: 40px;
}

header .container > div:nth-of-type(2) a{
    text-align: center;
    height: fit-content;
    padding: 18px 43px;
    /*outline: 2px solid #e9204f;*/
    border: 2px solid #e9204f;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9204f;
    border-radius: 2px;
    text-transform: capitalize;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    font-family: "Overpass", Sans-serif;
}


header nav a{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


header nav ul
{
    list-style: none;
    overflow: hidden;
    display: flex;
}

header nav ul:first-of-type li
{
    margin-right: 45px;
    font-weight: bold;
}



header nav ul:nth-of-type(2) li
{
    margin-right: 20px;
    font-weight: bold;
    padding-inline-start: 0;
}

header nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
    padding: 20px 0;
}


li.active::after
{
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    height: 3px;
    background:red;
    display:block;
}

/* end header */

/* start services */

.services{
    height: 1480px;
    width: 100%;
    
}

.services .services-header{
    display: flex;
    position: relative;
    top: -100px;
    height: 220px;
    background-color: #e9204f;
    color: #FFF;
    width: 100%;
    padding: 60px 80px;
    border-radius: 4px;
}

.services .services-header h1, .services .services-header .get-started {
    flex-basis: 50%;
}

.services .services-header h1 {
    font-size: 40px;
    text-transform: capitalize;
}

.services .services-header .get-started {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.services .services-header a {
    text-align: center;
    height: fit-content;
    padding: 18px 43px;
    outline: 2px solid #e9204f;
    border: 2px solid #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e9204f;
    background-color: #FFF;
    border-radius: 2px;
}

.services .services-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

.services .services-body h1{
   font-size: 48px;
   margin-bottom: 20px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000 !important;
}


.services .services-body > p{
    color: #747474;
    width: 50%;
    text-align: center;
    line-height: 27px;
    font-size: 16px;
    font-family: "Roboto", Sans-serif;
    margin-bottom: 100px;
}


.services .services-body .services-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.services .services-body .services-list a{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    flex-basis: 33.333%;
    padding: 100px 40px;
    color: #000;
    background-color: none;
    transition: background-color .5s ease, color .5s ease;
}


.services .services-body .services-list a:nth-of-type(2n+1){
    background-color: #f3f3f3;
}

.services .services-body .services-list a i{
    margin-bottom: 50px;
}

.services .services-body .services-list a section{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(0);
    transition: transform .5s ease;
    /*animation: moveOut .5s ease forwards;*/
}

.services .services-body .services-list a h3{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000 !important;
}

.services .services-body .services-list a p{
    color: #101010;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0;
    font-family: "Roboto", Sans-serif;
}

.services .services-body .services-list a:nth-of-type(2n+1) section i{
    color: #f3f3f3;
}

.services .services-body .services-list a:hover{
    background-color: #e9204f ;
    color: #fff !important;
    transition: all .5s ease;
}

.services .services-body .services-list a:hover p, .services .services-body .services-list a:hover h3, .services .services-body .services-list a:hover i{
    color: #fff !important;
    transition: all .5s ease;
}

.services .services-body .services-list a:hover section{
    /*animation: moveIn .5s ease forwards;*/
    color: #fff !important;
    transform: translateY(-20px);
    transition: all .5 ease;
}

@keyframes colorizeBackgroundIn{
    0%{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 420px;
        flex-basis: 33.333%;
        padding: 100px 40px;
        color: #000;
    }
    100%{
        background-color: #e9204f ;
        color: #fff !important;
    }
}

@keyframes colorizeBackgroundOut{
    0%{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 420px;
        flex-basis: 33.333%;
        padding: 100px 40px;
        background-color: #e9204f ;
        color: #fff !important;
    }
    100%{
        background-color: none ;
        color: #000 !important;
    }
}

@keyframes moveIn{
    0%{
        color: #000 !important;
        transform: translateY(0);
    }
    100%{
        color: #fff !important;
        transform: translateY(-20px);
    }
}

@keyframes moveOut{
    0%{
        color: #fff !important;
        transform: translateY(-20px);
    }
    100%{
        color: #000 !important;
        transform: translateY(0px);
    }
}

/* end services */

/* start selected-projects */

.selected-projects{
    height: 890px;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    position: relative;
}

.selected-projects .container{
    text-align: center;
}

.selected-projects h1{
    font-size: 48px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: #FFF;
}

.selected-projects p{
    color: #747474;
    line-height: 27px;
    font-size: 16px;
    font-family: "Roboto", Sans-serif;
    margin-bottom: 100px;
    width: 450px;
    margin: 0 auto;
}

.selected-projects ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.selected-projects ul li{
    
    display: flex;
    color: #FFF;
    position: relative;
}

.selected-projects ul li div img{
    max-width: 382px;
    transition: all .5s;
}

.selected-projects ul li:hover div img{
    transform: scale(.8);
    
}

/*
.selected-projects ul li img{
    height: 100%;
    width: 100%;
}

.selected-projects ul li div{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/


/* end selected-projects */

/* start about */

.about{
    padding: 140px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.about .about-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.about .about-header .about-text{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.about .about-header .about-statistics{
    display: flex;
    flex-basis: 60%;
}

.about .about-header .about-statistics div{
    flex-basis: 33.3333%;
    padding: 10px;
    text-align: center;
    color: #000 !important;
}

.about .about-header h1{
    color: #000;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.about .about-header .about-text h1{
    margin-block-end: 50px;
}

.about .about-header p{
    color: #747474;
    line-height: 27px;
    font-size: 16px;
    font-family: "Roboto", Sans-serif;
    margin-bottom: 100px;
    margin: 0 auto;
}

.about .about-header .about-statistics p{
    font-weight: 600px;
    font-size: 20px;
}

.about .about-team{
    display: flex;
    justify-content: space-between;
}

.about .about-team .team-element{
    position: relative;
    height: fit-content;
    flex-basis: 32%;
}



.about .about-team .team-element img{
    display: block;
    width: 100%;
}

.about .about-team .team-element .team-element-text{
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(233,32,79,0.76);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity .4s;
}

.about .about-team .team-element .team-element-text p{
    color: #fff;
}

.about .about-team .team-element .team-element-text p{
    margin-bottom: 30px;
}

.about .about-team .team-element .team-element-text ul{
    list-style: none;
    display: flex;
}

.about .about-team .team-element .team-element-text ul li{
    margin-right: 12px;
    font-size: 20px;
}

.about .about-team .team-element:hover .team-element-text {
    opacity: 1;
    transition: all .4s;
}


/* end about */

/* start testimonials */

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f3f3f3;
    padding: 120px 0;
    position: relative;
}

.testimonials .container{
    text-align: center;
}

.testimonials h1{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 80px;
}

.testimonials p{
    color: #747474;
    line-height: 38px;
    font-size: 20px;
    font-family: "Roboto", Sans-serif;
    width: 60%;
    margin: 35px auto;
}

.testimonials div img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.testimonials div h5{
    color: #747474;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
    margin-bottom: 30px;
}

.testimonials div ul{
    display: flex;
    justify-content: center;
}

.testimonials div ul li{
    margin-left: 20px;
    cursor: pointer;
}
/* end testimonials */

/* start blog */

.blog{
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.blog .container{
    text-align: center;
}

.blog .container > h1{
    font-size: 48px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: #000;
}

.blog .container > p{
    color: #747474;
    line-height: 27px;
    font-size: 16px;
    font-family: "Roboto", Sans-serif;
    margin-bottom: 100px;
    width: 450px;
    margin: 40px auto 70px auto;
}

.blog .blog-list{
    display: flex;
    justify-content: space-between;
}

/*
.blog .blog-list .blog-item{
    position: relative;
    height: fit-content;
    flex-basis: 32%;
}

.blog .blog-list .blog-item img{
    display: block;
    width: 100%;
}

.blog .blog-list .blog-item .blog-item-text{
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(233,32,79,0.76);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity .4s;
}

.blog .blog-list .blog-item .blog-item-text p{
    color: #fff;
}

.blog .blog-list .blog-item .blog-item-text p{
    margin-bottom: 30px;
}

.blog .blog-list .blog-item .blog-item-text ul{
    list-style: none;
    display: flex;
}

.blog .blog-list .blog-item .blog-item-text ul li{
    margin-right: 12px;
    font-size: 20px;
}

.blog .blog-list .blog-item:hover .blog-item-text {
    opacity: 1;
    transition: all .4s;
}
*/

.blog .blog-list .blog-item{
    position: relative;
    height: fit-content;
    flex-basis: 32%;
    height: 390px;
    padding: 30px 40px;
    background-color: #F3F3F3;
    text-align: left;
}

.blog .blog-list .blog-item img{
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 0;
    transition: opacity .5s ease;
}

.blog .blog-list .blog-item .blog-item-text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog .blog-list .blog-item .blog-item-text .blog-item-text-body h5{
    text-transform: uppercase;
    color: #e9204f;
    margin-bottom: 20px;
}

.blog .blog-list .blog-item .blog-item-text .blog-item-text-body h2{
    color: #000;
    margin-bottom: 20px;
}

.blog .blog-list .blog-item .blog-item-text .blog-item-text-body p{
    color: #999;
    line-height: 22px;
    font-size: 15px;
    font-family: "Roboto", Sans-serif;
    margin-bottom: 100px;
}

.blog .blog-list .blog-item .blog-item-text .blog-item-text-footer p{
    color: #999;
    line-height: 27px;
    font-size: 13px;
    font-family: "Roboto", Sans-serif;
}

.blog .blog-list .blog-item:hover img {
    opacity: 1;
    z-index: 0;
    transition: all .5 ease;
}

/* end blog */

/* start footer */

footer{
    height: 430px;
    position: relative;
}

footer .line{
    height: 100%;
}

footer section .container{
    display: flex;
    justify-content: space-between;
}

footer section:first-of-type{
    height: 80%;
    background-color: #101010;
    color: #FFF;
}

footer section .container{
    height: 100%;
    width: 100%;
    padding: 0 10%;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
}


footer section:first-of-type .container ul{
    flex-basis: 30%;
}

footer section:first-of-type .container h1{
    flex-basis: 40%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

footer section:first-of-type .container > a{
    flex-basis: 20%;
    text-align: center;
    padding: 15px 0;
    outline: 1px solid #e9204f;
    border: 1px solid #000;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

footer section:first-of-type .container > a::before{
    position: absolute;
    content: '';
    height: 100%;
    background-color: #e9204f;
    top: 0;
    left: 0;
    z-index: -1;
    /*width: 100%;
    -webkit-transition: all 1s ease-in-out 0s;
    transition: all 5s ease-in-out 0s;
    animation: fillIn 5s linear forwards;*/
    animation: fillOut .2s linear forwards;
}

footer section:first-of-type .container > a:hover::before{
    position: absolute;
    /*width: 100%;
    -webkit-transition: all 1s ease-in-out 0s;
    transition: all 5s ease-in-out 0s;*/
    animation: fillIn .2s linear forwards;
}

@keyframes fillIn{
    from{
        width: 0;
        background-color: #e9204f;
    }
    to{
        width: 100%;
        background-color: #e9204f;
    }
}

@keyframes fillOut{
    from{
        width: 100%;
        background-color: #e9204f;
    }
    to{
        width: 0;
        background-color: #e9204f;
    }
}

footer section:first-of-type .container ul{
    list-style: none;
    display: flex;
    
}

footer section:first-of-type .container ul li{
    margin-right: 12px;
    font-size: 20px;
    animation: goDown .2s forwards;
}

footer section:first-of-type .container ul li a{
    border: 2px solid #e9204f;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer section:first-of-type .container ul li:hover{
    animation: goUp .2s forwards;
}

@keyframes goUp{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes goDown{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

footer section:nth-of-type(2){
    height: 20%;
    background-color: #000;
    color: #747474;
}

footer section:nth-of-type(2) .container{
    justify-content: space-between;
    align-items: center;
}


footer section:nth-of-type(2) ul{
    list-style: none;
    display: flex;
}

footer section:nth-of-type(2) ul li:not(:last-child){
    margin-right: 16px;
}

footer section:nth-of-type(2) ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: "Overpass", Sans-serif;
    font-size: 14px;
}


/* end footer */

/* my framework */

.flt-left{
    float: left;
}

.flt-right{
    float: right;
}

.anchor{
    text-decoration: none;
    color: #FFF;
}

.services-big-font-size{
    color: #e9204f;
    font-size: 60px;
}

.services-small-font-size{
    color: #fff;
    font-size: 20px;
}

.line::before{
    content: '';
    width: 2px;
    height: 60px;
    background-color: #e9204f;
    position: absolute;
    top: -30px;
    left: 50%;
    z-index: 999;
}